﻿<%@ Page Title="" Language="C#" MasterPageFile="~/SITIOS MASTER/Docente.master" AutoEventWireup="true" CodeFile="PAGINA_DOCENTE.aspx.cs" Inherits="FORMATOS_PAGINA_DOCENTE" %>

<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
    <p>
        <br />
    </p>
    <p>
    </p>
    <p>
    </p>
    <p>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <asp:Label ID="Label1" runat="server" Text="PAGINA PRINCIPAL PARA EL PROFESOR"></asp:Label>
    </p>
    <p>
    </p>
    <p>
    </p>
</asp:Content>

